0.0.0.0:80 {
	tls off
	root /var/www/html
	gzip

	fastcgi / ${HOSTNAME}:${PORT} php {
        except /images
	}

    rewrite /w {
        regexp  /(.*)
        ext !.php
        to /w/index.php?title={1}
    }

	log stdout
	errors stderr
}
