0.0.0.0:80 {
    tls off
    root /var/www/html
    gzip

    fastcgi / ${HOSTNAME}:${PORT} php {
        except /w/images
    }

    rewrite /w {
        regexp  /(.*)
        if {path} not_starts_with /w/images
        if {path} not_starts_with /w/resources
        if {path} not_starts_with /w/index.php
        if {path} not_starts_with /w/api.php
        if {path} not_starts_with /w/load.php
        to /w/index.php?title={1}
    }

    log stdout
    errors stderr
}
